* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin:auto;
  padding: 2rem 0;
}

.jobs_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 1rem;
}